
.report-content {
    width: 74%;
}
/* Styling buttons within the report-content section */
.report-content .report-comic,
.report-content .report-quantity,
.report-content .report-cart,
.report-content .report-excel {
    width: 258px;
    height: 90%;
    border: 2px solid #ff5757;
    background-color: white;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.report-content .report-comic:hover,
.report-content .report-quantity:hover,
.report-content .report-cart:hover,
.report-content .report-excel:hover {
    background-color: red;
    color: white;
    border: 2px solid white;
}

/* Styling tables within the report-content section */
.report-content .table-comic,
.report-content .table-sold,
.report-content .table-cart {
    width: 100%;
    border-collapse: collapse;
    display: none; /* Hide tables by default */
}

.report-content th, 
.report-content td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.report-content th {
    background-color: rgba(255, 87, 87, 0.4);
}

/* Adjusting column widths for tables in report-content only */
.report-content th:nth-child(1), .report-content td:nth-child(1) {
    width: 10%; /* ID Truyện */
}

.report-content th:nth-child(2), .report-content td:nth-child(2) {
    width: 30%; /* Tên Truyện */
}

.report-content th:nth-child(3), .report-content td:nth-child(3) {
    width: 15%; /* Tên Tác Giả */
}

.report-content th:nth-child(4), .report-content td:nth-child(4) {
    width: 20%; /* Nhà Xuất Bản */
}

.report-content th:nth-child(5), .report-content td:nth-child(5) {
    width: 10%; /* Số Lượt Bán */
}

.table-comic, .table-sold ,.table-cart {
    display: none; /* Ẩn bảng mặc định */
}
