body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Chiều cao 100% viewport */
}
#invoice {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Chiều rộng hẹp hơn */
    border-radius: 8px; /* Bo góc */
}
h1 {
    text-align: center;
    color: black; /* Màu chữ */
}
p {
    margin: 5px 0;
    color: black; /* Màu chữ nhạt hơn */
}
.item {
    margin: 10px 0;
    border-bottom: 1px dashed #ccc; /* Đường viền gạch cho các mục */
    padding: 5px 0;
}
.total {
    font-weight: bold;
    margin-top: 10px;
    color: #000; /* Màu chữ đậm cho tổng */
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: red; /* Màu nền nút */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: red; /* Màu nền nút khi hover */
}
@media print {
    button {
        display: none; /* Ẩn nút in khi in */
    }
}